/* ========== BANNER ========== */

.job-banner-image {
	background-image: url('images/hero-banner.jpg');
	background-size: cover;
}

.banner-texts {
	padding: 70px;
}

.banner-text {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	text-shadow: 1px 1px #444444;
}

#banner-header {
	font-size: 55px;
}

/* ========== END ========== */

/* ========== JOB FITLERS ========== */


.job-all-container {
	padding: 40px;
	background-color: #f8f8f8;
}

#job-filters {
	box-sizing: border-box;
	margin-top: 20px;
}

#job-filter {
	padding: 20px;
}

/* ========== END ========== */

/* ========== JOB LISTINGS ========== */

#jobListing {
	border: 2px ridge #f8f8f8;
	box-sizing: border-box;
	padding: 30px;
}

#jobListing:hover {
	border-bottom: 3px solid #4b87bb;
	border-right: 1px solid #4b87bb;
	background-color: white;
}

.job-buttons-container {
	padding-bottom: 10px;
}

.jobBoard {
	opacity: 1;
	transition: .5s opacity;
	position: relative;
}

.jobBoard.transition {
	opacity: 0;
}

.jobDetails {
	border-bottom: 1px dotted #4b87bb;
}

.job-details-key {
	font-size: 15px;
}

.jobLists {
	cursor: pointer;
	padding: 20px;
}

.textFieldEdit {
	width: 100%;
	padding: 10px;
	border: 1px solid black;
	background: none;
}

/* ========== END ========== */