/* ========== BANNER ========== */

.form-banner-image {
	background-image: url('http://www.insurancehouse.com.au/business/corporate-travel.banner.x-lg.jpg');
	background-size: cover;
}

.form-page-banner-texts {
	padding: 70px;
}

.form-page-banner-text {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	text-shadow: 1px 1px #444444;
}

#form-page-banner-header {
	font-size: 55px;
}

/* ========== END ========== */


/* ========== FORM ========== */

.main-form-container {
	display: flex;
	margin-top: 40px;
	margin-bottom: 40px;
}

.form-container {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	background-color: #f4f4f4;
	padding: 40px;
	box-sizing: initial;
}

.form-description {
	width: 150px;
}

input {
	border: none;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.3s;
	padding-left: 10px;
}

label {
	display: block;
	width: 100%;
	padding: 5px;
}

textarea {
	width: 100%;
	height: 150px;
	border: 2px solid #c9c9c9;
	margin-top: 10px !important;
	padding: 5px;
	padding-left: 10px;
	resize: none;
}

#submit-button {
	float: right;
}




/* ========== END ========== /
	