<div id="hero-image">
	<h1 id="hero-title">LIFE ABROAD AWAITS</h1>
</div>


<div class="col-xs-12 col-sm-12 col-md-12" id="countries-container">
	<div class="countries">
		<h1 class="countries-header">Explore new cultures</h1>
		<p class="countries-tagline">Take a gap year to discover new lands, foods, friends</p>
	</div>

	<div class="countries-images">
		<div class="countries-image" id="korea">
			<a ui-sref="jobs" ui-sref-active="active" ng-click="jobs.transition()">
				<h1 class="countries-title">KOREA</h1>
			</a>
		</div>

		<div class="countries-image" id="thailand">
			<a ui-sref="jobs" ui-sref-active="active" ng-click="jobs.transition()">
				<h1 class="countries-title">THAILAND</h1>
			</a>
		</div>

		<div class="countries-image" id="china">
			<a ui-sref="jobs" ui-sref-active="active" ng-click="jobs.transition()">
				<h1 class="countries-title">CHINA</h1>
			</a>
		</div>
	</div>
</div>


<div class="col-xs-12 col-sm-12 col-md-12" id="sales-container">
	<div class="sales-pitch">
		<h1 class="sales-header">Free housing? Yup.</h1>
		<h1 class="sales-header">Free round trip airfare? Yup.</h1>
		<p class="sales-tagline">Some perks are just too good to pass up. Search jobs now.</p>
	</div>
</div>
