<h1>Post a job</h1>

<!-- Form for job posting -->
<form ng-submit='jobs.postJob()'>
    <label>Company Name: <input rows="2" class="inputFieldEdit form-control" ng-click='editForm = !editForm' ng-model='jobs.newJob.name'/></label>

    <label>Job Title: <input rows="2" class="inputFieldEdit form-control" ng-click='editForm = !editForm' ng-model='jobs.newJob.title'/></label>

    <label>Job Description: <input rows="2" class="inputFieldEdit form-control" ng-click='editForm = !editForm' ng-model='jobs.newJob.description'/></label>

    <label>Country: <input rows="2" class="inputFieldEdit form-control" ng-click='editForm = !editForm' ng-model='jobs.newJob.country'/></label>

    <label>Address: <input rows="2" class="inputFieldEdit form-control" ng-click='editForm = !editForm' ng-model='jobs.newJob.address'/></label>

    <label>Compensation: <input rows="2" class="inputFieldEdit form-control" ng-click='editForm = !editForm' ng-model='jobs.newJob.compsensation.low'/></label>

    <label>Compensation: <input rows="2" class="inputFieldEdit form-control" ng-click='editForm = !editForm' ng-model='jobs.newJob.compsensation.high'/></label>

    <label>Benefits: <textarea rows="2" class="textAreaEdit form-control" ng-click='editForm = !editForm' ng-model='jobs.newJob.benefits'></textarea></label>

    <label>Qualifications: <textarea rows="2" class="textAreaEdit form-control" ng-click='editForm = !editForm' ng-model='jobs.newJob.qualifications'></textarea></label>

    <label>Preferences: <textarea rows="2" class="textAreaEdit form-control" ng-click='editForm = !editForm' ng-model='jobs.newJob.preferences'></textarea></label>

    <label>Additional Info: <textarea rows="2" class="textAreaEdit form-control" ng-click='editForm = !editForm' ng-model='jobs.newJob.additional'></textarea></label>

    <input type='submit' value='Post Job'/>
</form>
